docker.enabled = true

profiles {
    
    test {
        params.input_genomes = "${projectDir}/data/samplesheet.csv"
        params.number_of_samples = "1"
        params.sequencer_model = "hiseq"
        params.number_of_reads = "0.1"
        params.cpus = "2"
        params.batch = "batch"
        }
    }
}