docker.enabled = true

params {
    input_genomes = "${projectDir}/data/samplesheet.csv"
    number_of_samples = "1"
    sequencer_model = "hiseq"
    millions_of_reads = "0.1"
    cpus = "2"
    batch = "batch"  
    }

profiles {
        test {
        params.input_genomes = "${projectDir}/data/samplesheet.csv"
        params.number_of_samples = "1"
        params.sequencer_model = "hiseq"
        params.millions_of_reads = "0.1"
        params.cpus = "2"
        params.batch = "batch"
        }
    }
}